:root {
    --primary: #b5d5ff;
}

/* Globals */

body { 
    font-family: "Helvetica Neue",helvetica,arial,sans-serif; 
    margin: 0;
}

h1, h2, h3, h4,h5, h6 { margin: 0; }

input {
    color: #444444;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.5em;
    min-width: 200px;
}

#container {
    max-width: 1000px;
    margin: auto;
}

.flex { display: flex; }

.flex-align { align-items: center; }

.flex-justify { justify-content: center; }

.flex-1 { flex: 1; }

.left { text-align: left; }

.center { text-align: center; }

.right { text-align: right; }

h1 {
    font-size: 1.3rem;
    padding-right: 10px;
    position: relative;
    top: 5px;
}

h2 {
    font-size: 1rem;
    padding: 0.5em 0;
}

/* Article */

article {
    min-height: calc(100vh - 68px);
    overflow: auto;
}

/* Header */

header {
    padding-top: 0.5em;
}

header div:last-of-type {
    border-bottom: 1px solid var(--primary);
}

/* Tabs */

#tabs {
    margin: 0;
    padding: 0;
    margin-top: 1em;
}

#tabs li {
    display: inline-block;
}

#tabs a {
    color: #333333;
    font-size: 0.8em;
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    background-color: #fbfbfb;
    border: 1px solid #ededed;
    border-bottom: none;
    border-top-right-radius: 8px;
    transition: background-color 0.1s ease-in;
}

#tabs > li:last-of-type a {
    padding: 1em;
    font-weight: bold;
    color: black;
}

#tabs a:hover { background-color: #ddd; }

#tabs a.active { background-color: #ededed; }

/* List */

#actions {
    background-color: #ededed;
    padding: 0.5em;
}

#list {
    margin: 0;
    padding: 0;
    border-top: 2px solid var(--primary);
    padding-top: 0.5em;
}

/* Item */
.item {
    padding: 0.5em;
    cursor: pointer;
    border-bottom: 1px solid #DEDEDE;
}

.item:hover {
    background-color: #f6f6f6;
}

/* Footer */

footer {
    background-color: var(--primary);
    padding: 0.5em;
}